@page "/funfacts"
@using System.Globalization;
@inject Models.LocalStorageAccessor LocalStorageAccess

<div class="container">

    <h3>Opdracht geboortedatum FunFacts</h3>

    <div class="row">
        <div class="col-md-12">
            @foreach (var result in Results)
            {
                <p>@result</p>
            }

            <a role="button" href="geboortedatum" class="btn btn-primary btn-lg mb-2" id="back" >Opnieuw</a>
        </div>
    </div>
</div>