@page "/"

<PageTitle>Blazor Project</PageTitle>

<h1>Welkom op het Blazor Project van Raf</h1>
<h5>Hier vind je een vertaling van Javascript-oefeningen naar C#</h5>

<a href="counter" role="button" class="btn btn-primary btn-lg">Movies</a><br />
<a href="counter" role="button" class="btn btn-primary btn-lg">Foto</a><br />
<a href="counter" role="button" class="btn btn-primary btn-lg">FunFacts</a><br />
<a href="counter" role="button" class="btn btn-primary btn-lg">Dobbelen</a><br />