@page "/movies"
@using BlazorProject.Models;
@inject HttpClient Http

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Films zoeken (OMDB API)</h1>
                <div class="form-group m-2">
                    <label for="zoekterm">Zoekterm</label>
                    <input type="text"
                           class="form-control mx-2"
                           id="zoekterm"
                           name="zoekterm" @bind=search />
                </div>
                <button @onclick=Search id="buttonZoeken" class="btn btn-primary m-2">
                    Zoeken
                </button>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-md-12">
            @if (!string.IsNullOrWhiteSpace(message))
            {
                <div class="row p-2 alert alert-@(error ? "danger" : "success")" role="alert">
                    @message
                </div>
            }
            <div class="row p-3" id="divResult">
                @if (movies != null && movies.Length > 0)
                {
                    foreach (var item in movies)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="card mb-3 shadow-sm">
                                <img src="@item.Poster" class="img-responsive">
                                <div class="card-body">
                                    <p class="card-text">@item.Title</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <small class="text-muted">@item.Year</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
